<h1 id="tableLabel">Students</h1>

<a routerLink="/add-student" class="btn btn-success">Add Student</a>

<p *ngIf="!students"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="students">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Major</th>
      <th>Average Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.major }}</td>
      <td [ngClass]="getGradeClass(student.averageGrade)">{{ student.averageGrade }}</td>
      <td>
        <button (click)="deleteStudent(student)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>